{% extends 'myblog/base.html' %} {%load staticfiles%}{% block title %}News{%endblock title%} {%block content%}
<div class="col-md-6 offset-md-1" style="margin-top: 50px">
    {% for post in posts%}

    <div class="card" style="margin: 20px 0px">
        <!-- <div class="card-header">
                    Trending Now
                </div> -->
        <img class="card-img-top" src="{% static 'img/avartar.jpg' %}" height="360px" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.text}}</p>
            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">view details</a>
        </div>
        <div class="card-footer text-muted">
            Published: {{post.published_date}} <i>By {{post.author.username}}</i>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content%}